@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import "https://use.fontawesome.com/releases/v5.8.2/css/all.css";

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f0f0f0;
  background-color: #181818;
}

section {
  padding: 130px 0;
}

span {
  color: #ff4a57;
}

.fa {
  font: normal normal normal 14px/1 FontAwesome;
}

h1 {
  font-size: 2rem;
}

p,h1,h2,h3,h4,h5 {
  color: white;
}

a {
  color: #f0f0f0;
  text-decoration: none;
  transition: .3s ease;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/*nav*/

header {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background-color: rgba(33, 33, 33, 0.98);
  align-items: center;
  width: 100%;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

ul {
  display: flex;
}

li {
  font-size: 18px;
  font-weight: 500;
  padding: 0 15px;
  list-style: none;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 30px 0;
}

nav li a:hover {
  color: #ff4a57;
}

.logo {
  margin-right: auto;
}

.btn {
  padding: 10px 30px;
  border: 2px solid #ff4a57;
  border-radius: 25px 25px 25px 25px;
}

/*home*/

.home {
  top: 50px;
  padding: 130px 0;
  background: rgb(33, 33, 33);
}

.icons a {
  color: #f0f0f0;
  width: 50px;
  height: 50px;
  background: transparent;
  text-align: center;
  padding: 13px;
  border: 2px solid #ff4a57;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.icons {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.icons a:hover {
  background-color: #ff4a57;
}

.btn:hover {
  background-color: #ff4a57;
}

.home h1 {
  margin-top: 50px;
  font-size: 58px;
  font-weight: 700;
}

.home p{
  font-size: 26px;
  line-height: 40px;
  font-weight: 200;
  margin-bottom: 50px;
  color: #ff4a57;
  font-style: italic;
}

.home .container {
  display: flex;
}

#home-text {
  text-align: center;
  margin: 50px 100px;
}

.home-btn ul {
  justify-content: center;
}

.btn-portfolio {
  margin-right: 10px;
}

.btn-youtube {
  background-color: #ff4a57;
  margin-left: 10px;
}

/*services*/

.services {
  padding: 130px 0;
}

.title {
  text-align: -webkit-center;
}

.section-title {
  max-width: 50%;
}

.section-title h2 {
  margin: 15px 0;
  font-size: 35px;
}

.section-title p {
  margin-bottom: 100px;
  font-style: italic;
}

.grid  {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));;
  gap: 20px;
}

.card {
  background-color: rgb(33, 33, 33);
  padding: 50px 35px;
  text-align: left;
  border-radius: 2px;
  transition: background-color .5s ease;
}

.card:hover {
  background-color: #ff4a57;
}

.card i {
  font-size: 40px;
}

.card h3 {
  margin: 20px 0;
}
/*about*/

.about-me {
  padding: 130px 0;
  background: rgb(33, 33, 33);
}

.about-title {
  max-width: 50%;
}

.about-title h2{
  margin: 15px 0;
  font-size: 35px;
}

.about-title p {
  margin-bottom: 100px;
  font-style: italic;
}

/*skills*/

#skills {
  padding: 130px 0;
}

#skills .container {
  display: flex;
}

.skills-title {
  display: flex;
  margin: 0 -15px;
  width: 100%;
  justify-content: space-between;
}

.text {
  max-width: 45%;
}

.text h1 {
  margin: 15px 0;
}

.text p {
  margin: 0 0 50px;
  line-height: 30px;
}

.text, .skill-progress-bar {
  padding: 0 15px;
}

.hire-me:hover {
  background-color: #ff4a57;
}

.skill-progress-bar {
  max-width: 50%;
  width: 100%;
}

.skills-bar {
  height: 5px;
  display: block;
  background-color: #ff4a57;
  visibility: visible; 
  animation-name: slideInLeft;
}

#background-bar {
  margin-bottom: 20px;
}

#background-bar::before {
  width: 100%;
  height: 5px;
  content: "";
  display: block;
  position: relative;
  background: rgba(33, 33, 33, 0.98);
  z-index: -1;
  top: 49px;
}

#background-bar p{
  margin-bottom: 20px;
}

.sb1 {
  width: 88%;
}

.sb2 {
  width: 81%;
}

.sb3 {
  width: 70%;
}

.sb4 {
  width: 90%;
}

/*Portfolio*/

#portfolio {
  background: rgba(33, 33, 33, 0.98);
}

/*Contact*/

.contact-form {
  color: #f0f0f0;
}

.contact-form form input{
  height: 50px;
  padding: 15px;
  background-color: rgba(33, 33, 33);
  border: 0;
  border-radius: 8px;
  margin-bottom: 20px;
}

.contact-form form input,textarea {
  color: #ff4a57;
  font-family: Poppins;
  font-size: 15px;
}

#name-email-input {
  display: flex;
}

#name-email-input input {
  width: 50%;
  justify-content: space-between;
}

#name-email-input #name {
  margin-right: 20px;
}

.contact-form #subject {
  width: 100%;
}

.contact-form #message {
  width: 100%;
  padding: 15px;
  background-color: rgba(33, 33, 33);
  border: 0;
  border-radius: 8px;
}

.contact-form #form-btn {
  padding: 18px 60px;
  border: 0;
  border-radius: 100px;
  background-color: #ff4a57;
  color: #f0f0f0;
  font-family: Poppins;
  font-size: 16px;
  margin-top: 20px;
}


@media (max-width: 680px){
  .home .container {
    display: block;
  }

  .icons {
    flex-direction: unset;
    margin-top: 0;
    justify-content: space-around;
  }
  
  #home-text {
    margin: 10px; 
  }

  .home-btn {
    display: flex;
    flex-direction: column;
  }

  .btn-youtube {
    margin: 0;
  }

  .about-title {
    max-width: 100%;
  }

  .section-title {
    max-width: 100%;
  }

  .text {
    max-width: 100%;
  }

  .skills-title {
    display: block;
  }

  .skill-progress-bar {
    max-width: 100%;
    margin-top: 100px;
    
  }

  #name-email-input {
    display: block;
    width: 100%;
  }

  #name-email-input input{
    width: 100%;
  }
}






